{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="{% url 'dashboard' %}">
    	<img src="{% static 'img/get-set-foss-logo.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
		Get Set FOSS
	</a>
  	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>
  	<div class="collapse navbar-collapse" id="navbarNav">
	  	<ul class="navbar-nav mr-auto">
			<li class="nav-item">
			  	<span class="navbar-text mx-r-3">
				  	Hi {{ request.user }}
				</span>
			</li>
			<li class="nav-item">
			  	<span class="navbar-text"><strong>Total Points: {{ total_points }}</strong></span>
			</li>
		</ul>
    	<ul class="navbar-nav ml-auto">
      		<li class="nav-item active">
        		<a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
      		</li>
      		<li class="nav-item">
        		<a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
      		</li>
    	</ul>
  	</div>
</nav>
